{% extends 'base.html' %}

{% block title %}
Страница товаров

{% endblock %}

{% block content %}

<main>
    <h2>Детские товары</h2>
    
    
    <div class="product-list">
        {% for post in posts %}
        <div class="product-card">
            <img src="{{post.link_2}}" alt="Изображение товара 1">
            <h3>{{post.name}}</h3>
            <span class="price">{{post.price}} руб.</span>
            <a href="{{ url_for('product_detail', id=post.id) }}" class="add-to-cart">Подробнее</a>
        </div>
        {% endfor %}
        

    </div>
    <div style="margin-top: 100px">

    </div>
   
</main>



{% endblock %}