{% extends 'base.html' %}

{% block title %}
Страница товаров

{% endblock %}

{% block content %}

<main>
    <h2>Категория: Электроника</h2>
    
    {% for post in posts %}
    <div class="product-list">
        {% for post in posts %}
        <div class="product-card">
            <img src="{{post.link_2}}" alt="Изображение товара 1">
            <h3>{{post.name}}</h3>
            <span class="price">{{post.price}} руб.</span>
            <a href="#" class="add-to-cart">Подробнее</a>
        </div>
        {% endfor %}
        

    </div>

    {% endfor %}
</main>



{% endblock %}